LITELLM_API_KEY=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
OPENAI_API_KEY=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

AGENTS_CONFIG_PATH=config/agents.yaml
LLMS_CONFIG_PATH=config/llms.yaml

CREWAI_TRACING_ENABLED=true

# MONGO_URI=mongodb://localhost:27017
# MONGO_USERNAME=admin
# MONGO_PASSWORD=admin
# MONGO_PORT=27017
# MONGO_DB_NAME=aws-fcj-project

MONGO_URI=mongodb+srv://minfuz391_db_user:admin@cluster0.ugggr32.mongodb.net/aws-fcj-project
MONGO_DB_NAME=aws-fcj-project

ORCHESTRATOR_MODEL=gpt-4.1-mini
AGENT_MODEL=gpt-4.1-mini
LOGFIRE_TOKEN=pylf_v1_us_BfkfHV3xHbR1kgVqJVfghr0FP88rDVb5DTLxmqyW2xtb

TAVILY_API_KEY=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
LOGFIRE_PYDANTIC_RECORD=off
PYDANTIC_DISABLE_PLUGINS=true
MONGODB_URL=mongodb://localhost:27017
DB_NAME=proctoring_db

REDIS_URL=redis://localhost:6379

EMAIL_SENDER=your_email
#EMAIL_PASSWORD=wzlruwdikskigkyh - your_app_passwords(get from google account app passwords )


# JWT_SECRET=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
# JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

OTP_EXPIRE_SECONDS=300
OTP_RATE_LIMIT_SECONDS=60
