LITELLM_API_KEY=
OPENAI_API_KEY=

AGENTS_CONFIG_PATH=
LLMS_CONFIG_PATH=

CREWAI_TRACING_ENABLED=



MONGO_URI=
MONGO_DB_NAME=

ORCHESTRATOR_MODEL=gpt-4.1-mini
AGENT_MODEL=gpt-4.1-mini
LOGFIRE_TOKEN=

TAVILY_API_KEY=
LOGFIRE_PYDANTIC_RECORD=
PYDANTIC_DISABLE_PLUGINS=
MONGODB_URL=
DB_NAME=

REDIS_URL=

EMAIL_SENDER=
EMAIL_PASSWORD=


ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

OTP_EXPIRE_SECONDS=
OTP_RATE_LIMIT_SECONDS=
